@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 6px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 6px; 
}

