@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.spacer {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 6px;
    width: 150px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 6px; 
}
@import './pages/Main/main.scss';
@import './pages/EditMember/Edit.scss';

