.Main{
    overflow: hidden;
    width: 100vw;
    height:100vh;
}

.header {
    margin-top: 50px;
    margin-left: 5%;
    color: #056571;
}

.top_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
  }